<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
 <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="../css/list.css" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>
<body>
<form action="" id="form_id">                   	              
      <table class = "diglogmiddle ">
         <tr>
             <td><label for="firstname" class="col-sm-20" >部门名称</label></td>
             <td><input class="form-control jeinput validate[required]" id = "node" type = "text" placeholder="请输入部门名称" /></td>
         </tr>
         <tr>
             <td><label for="firstname" class="col-sm-20" >部门地址</label></td>
             <td><input class="form-control jeinput validate[required]" id = "url" type = "text" placeholder="请输入部门地址" /></td>
         </tr>
         <tr>
             <td> <label for="firstname" class="col-sm-20" >部门级别</label></td>
             <td><input class="form-control jeinput validate[required]" id = "address" type = "text" placeholder="请输入部门级别" /></td>
         </tr>
         <tr>
             <td> <label for="firstname" class="col-sm-80" >部门管理员ID</label></td>
             <td><input class="form-control jeinput validate[required]" id = "port" type = "text" placeholder="请输入部门管理员ID" /></td>
         </tr>                    
     </table>
</form>  
<script type="text/javascript" src="js/add.js"></script> 	 
</body>
 
</html>
